data/audiomnist
data/MNIST
data/whistle/annotated
data/whistle/done_raw
data/whistle/raw
data/whistle/saved/*/*.dat
*.npy
__pycache__
*/__pycache__
*/build
.vscode
*.pyc
src/*/build
src/tests/*/build
.ipynb_checkpoints
models/*
.aim
ckpt
wandb