tqdm>=4.67.1
matplotlib>=3.9.1
torch>=2.3.1
omegaconf>=2.3.0
librosa>=0.10.2.post1
aim>=3.20.1
lightning>=2.5.0.post0
imbalanced-learn>=0.12.4
pre-commit>=4.0.1
scikit-learn>=1.6.1
pyyaml>=6.0.2
scipy>=1.13.1
onnx>=1.16.2
onnxruntime>=1.19.2
pandas>=2.2.3
gdown>=5.2.0
onnxscript>=0.1.0.dev20250114